[user]
    email = lucas.doell@dca.nj.gov
[commit]
    gpgsign = false
[tag]
    gpgSign = false
[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519
[url "git@github.com:"]
	insteadof = https://github.com/
